<div class="container">
  <div class="titleBox card border-secondary mb-6">
    <div class="card-body">
      <h1 class="title">Candidatos</h1>
    </div>
  </div>
</div>
<div class="card mt-5 candidateForm">
  <form #candidateForm="ngForm" (submit)="submitCandidate(candidateForm)">
    <div class="form-group">
      <label class="labelForm labelCustom" for="fullName">Nome Completo</label>
      <input
        type="text"
        #fullName="ngModel"
        [(ngModel)]="candidateService.candidateModel.fullName"
        name="fullName"
        class="form-control"
        placeholder="Nome Completo"
        required
      />
    </div>
    <div class="form-group">
      <label class="labelForm labelCustom" for="viceName">Nome do Vice</label>
      <input
        type="text"
        #viceName="ngModel"
        [(ngModel)]="candidateService.candidateModel.viceName"
        name="viceName"
        class="form-control"
        placeholder="Vice-Presidente"
        required
      />
    </div>
    <div class="form-group">
      <label class="labelForm labelCustom" for="label">Legenda</label>
      <input
        type="number"
        #label="ngModel"
        [(ngModel)]="candidateService.candidateModel.label"
        name="label"
        class="form-control"
        placeholder="Legenda"
        required
      />
    </div>
    <div class="form-group">
      <button
        type="submit"
        value="Register"
        class="btn btn-primary w-100 submitBtn"
        [disabled]="candidateForm.invalid"
      >
        Register
      </button>
    </div>
  </form>
  <div>
    <table
      class="table table-hover candidateTable table-bordered border border-2 border-dark"
    >
      <thead>
        <tr class="table-primary">
          <th scope="col" class="border border-2 border-dark">Nome Completo</th>
          <th scope="col" class="border border-2 border-dark">Legenda</th>
          <th scope="col" class="border border-2 border-dark">Deletar</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let candidate of candidateList">
          <tr *ngIf="candidate.label != 100 && candidate.label != 101" class="table-primary">
            <td class="border border-2 border-dark">
              {{ candidate.fullName }}
            </td>
            <td class="border border-2 border-dark">{{ candidate.label }}</td>
            <td class="border border-2 border-dark">
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="deleteCandidate(candidate)"
              >
                Deletar
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
