<div class="containerBase">
  <div *ngIf="screenVote === 'election'">
    <div class="containerCinzaClaro">
      <p class="titleVote">SEU VOTO PARA:</p>
      <div class="containerCandidateProfile">
          <p class="candidateProfile" #currentCandidate></p>
      </div>
      <span class="politic">PRESIDENTE</span>
      <form action="">
        <input
          class="candidateInput"
          size="1"
          value=""
          maxlength="1"
          type="text"
          readonly="readonly"
          #firstDigit
        />
        <input
          class="candidateInput"
          size="1"
          value=""
          maxlength="1"
          type="text"
          readonly="readonly"
          #lastDigit
        />
      </form>
    </div>
    <div class="containerPreto">
      <button class="button click" (click)="insertNumber(1)">1</button>
      <button class="button click" (click)="insertNumber(2)">2</button>
      <button class="button click" (click)="insertNumber(3)">3</button>
      <button class="button click" (click)="insertNumber(4)">4</button>
      <button class="button click" (click)="insertNumber(5)">5</button>
      <button class="button click" (click)="insertNumber(6)">6</button>
      <button class="button click" (click)="insertNumber(7)">7</button>
      <button class="button click" (click)="insertNumber(8)">8</button>
      <button class="button click" (click)="insertNumber(9)">9</button>
      <button class="button click" (click)="insertNumber(0)">0</button>
      <div class="teclado2">
        <button class="white click" (click)="whiteVote()">BRANCO</button>
        <button class="orange click" (click)="correctVote()">CORRIGE</button>
        <button class="green" (click)="confirmVote()">CONFIRMA</button>
      </div>
    </div>
  </div>

  <div *ngIf="screenVote === 'end'" class="containerCinzaClaro">
    <h1 class="fim">FIM</h1>
    <button type="button" class="btn btn-dark" (click)="restartVote()">
      Reiniciar Votação
    </button>
  </div>
</div>
